.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 18px;
    margin-top: 12px;
    padding: 6px;
    min-height: 50px;
    .progressbar {
        width: 90%;
        border-radius: 18px;
        border: 2px rgb(36, 63, 36) solid;
        align-items: center;
        .progress {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(36, 63, 36, 0.75);
            .text {
                white-space: nowrap;
            }
        }
    }
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 18px;
    h1 {
        font-size: 40px;
    }
}
