/* You can add global styles to this file, and also import other style files */

// https://colorhunt.co/palette/191a191e51284e9f3dd8e9a8
body {
    background-color: #191A19;
    background-image: url("assets/camoo.png");
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
